###
## Sets:
### A set is a built-in data type that represents an unordered collection of unique elements. Sets are mutable, meaning that you can add or remove elements after the set is created, but they do not allow duplicate elements. Sets are defined using curly braces {} or by using the set() function.
###

**Key Characteristics of Sets:**

- Unordered: Sets do not maintain any order for the elements. As a result, elements cannot be accessed via indexing or slicing.

- Unique Elements: Sets automatically eliminate duplicate elements, ensuring all elements are unique.

- Mutable: Sets can be modified after their creation by adding or removing elements.

- Heterogeneous: Sets can contain elements of different data types, including numbers, strings, and other immutable types.

In [1]:
a = {'Apple','Orange','cherry'}

type(a),len(a)

(set, 3)

In [2]:
a.remove('cherry')
a

{'Apple', 'Orange'}

In [3]:
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [17]:
# The update method in Python is used to add elements from one set to another.
# When you call set1.update(set2), it adds all the elements of set2 to set1.

set1 = {'Mr.','Rayyan'}
set2 = {'Ahmed','is a Billionaire'}

set1.update(set2)
set2
#set1

# The update method only modifies the set on which it is called, not the set that is passed as an argument.
# This is because update is designed to add elements to the set it's called on without affecting any other sets.

{'Ahmed', 'is a Billionaire'}

**The intersection method in Python is used to find the common elements between two or more sets.**

**When you call a.intersection(b), it returns a new set containing only the elements that are present in both a and b.**

In [19]:
a = {1,2,3,4,5}
b = {1,3,6,7}

a.intersection(b)

{1, 3}

In [27]:
a = {'Rayyan','Hello','Earth'}
b = {'Rayyan','Hello','Earth'}
c = {'Hello','Peace','River 2 c'}

a - b
a - c

{'Earth', 'Rayyan'}

###
## Creating Sets:
###

In [1]:
# Creating a set with curly braces
fruits = {"apple", "banana", "cherry"}

# Creating a set with the set() function
numbers = set([1, 2, 3, 4, 5])

# Creating an empty set
empty_set = set()

print(fruits)
print(numbers)
print(empty_set)

{'apple', 'banana', 'cherry'}
{1, 2, 3, 4, 5}
set()

###
## Adding and Removing Elements:
###

In [2]:
# Adding elements
fruits.add("date")
print("After adding date:", fruits)  # Output: {'apple', 'banana', 'cherry', 'date'}

# Removing elements
fruits.remove("banana")
print("After removing banana:", fruits)  # Output: {'apple', 'cherry', 'date'}

# Using discard() to remove an element (no error if the element does not exist)
fruits.discard("banana")
print("After discarding banana:", fruits)  # Output: {'apple', 'cherry', 'date'}

After adding date: {'apple', 'banana', 'date', 'cherry'}
After removing banana: {'apple', 'date', 'cherry'}
After discarding banana: {'apple', 'date', 'cherry'}