###
## For Loops:
### A for loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or any other iterable object. This allows you to execute a block of code multiple times, once for each item in the sequence.
###

In [1]:
a = ['Rayyan','Ahmed','Amir']

for x in a :
    print(x)

Rayyan
Ahmed
Amir

In [2]:
a = ['Car','Bike','Jet','Spaceship']

for x in a :
    if x == 'Bike' :
        continue
    print(x)

Car
Jet
Spaceship

In [1]:
a = ['Car','Bike','Jet','Spaceship']

for x in a :
    if x == 'Jet' :
        break
    print(x)

Car
Bike

In [5]:
for x in range(10) :
    print(x)

0
1
2
3
4
5
6
7
8
9

In [4]:
for char in "Hello" :
    print(char)

H
e
l
l
o

In [5]:
my_tuple = (10, 20, 30)
for item in my_tuple:
    print(item)

10
20
30

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key, my_dict[key])

a 1
b 2
c 3

In [7]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
for num, letter in zip(list1, list2):
    print(num, letter)

1 a
2 b
3 c

In [8]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 15

In [9]:
numbers = [10, 20, 30, 40, 50]
max_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
print("Maximum:", max_num)

Maximum: 50

In [10]:
numbers = [1, 2, 3, 4, 5]
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4]

###
## Nested Loops (loop within loop):
###

####
**While Loop:**

####

In [14]:
i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(f"i = {i}, j = {j}")
        j += 1
    i += 1

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

####
**For Loop:**

####

In [11]:
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"{i} x {j} = {i * j}")
    print("----")  # Separator between rows

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----

In [12]:
rows = 5
i = 0
while i < rows:
    j = 0
    while j <= i:
        print('*', end='')
        j += 1
    print()  # New line after each row
    i += 1

*
**
***
****
*****

In [13]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for num in list1:
    for letter in list2:
        print(f"({num}, {letter})")

(1, a)
(1, b)
(1, c)
(2, a)
(2, b)
(2, c)
(3, a)
(3, b)
(3, c)