In [2]:
line1 = 'Asia is the largest continent '
line2 = ' with china as the largest economy'
line1 + line2

'Asia is the largest continent  with china as the largest economy'

In [5]:
a = ' is Rayyan Ahmed'
b = ' & Owner'
c = 'The CEO'

d = c + b + a
d,type(d),len(d)

('The CEO & Owner is Rayyan Ahmed', str, 31)

In [6]:
name = input('Enter your name: ')
age = int(input('Enter age: '))
location = input('Where you live:')
print('My name is ' + name + '. I am ' + str(age) + ' years old.' + ' I live in in ' + location + '.')

Enter your name: Rayyan Ahmed
Enter age: 19
Where you live:Karachi
My name is Rayyan Ahmed. I am 19 years old. I live in in Karachi.

In [7]:
number1 = float(input('Enter number 1: '))
number2 = float(input('Enter number 2: '))
line1 = 'Number 1 is '
line2 = ' and Number 2 is '
ans = line1 + str(number1) + line2 + str(number2) + '.' # we cannot concatenate integers so we will convert them to string
print(ans)

Enter number 1: 123.33
Enter number 2: 332
Number 1 is 123.33 and Number 2 is 332.0.